*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
#main {
    width: 100%;
    height: 100%;
    background-color: #0C1F47;
    color:#ffce63;
    /* position: absolute; */
    /* display: flex; */
}
#nav {
    padding: 10px 30px;
}
#nav a {
    color: white;
    font-size: 18px;
    margin-right:30px ;
    text-decoration: none;
    justify-content: flex-start;
}
#main>h1 {
    font-weight: 500;
    padding-left:3 ;
    font-size: 300px;
    /* z-index:; */
    align-items: center;
}
#btmleft h3{
    font-size: 24px;
    color:#fff;
}
#btmleft {
    position: absolute;
    width:300px;
    bottom : 20%;
    left: 3% ;
}
#btmleft a{
    color: #fff ;
    font-size: 20px;
    padding: 30px 2px;
    text-decoration: none;
}
#btmleft p {
    font-size: 18px;
    margin-top: 5px;
}
#bottombar {
    width: 100%;
    position: absolute;
    padding-left: 30px 70px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
}
#bottombar h1{
    font-size: 20px !important ;
    padding: 10px;
}

#bottombar a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
}
#main>img {
    position: absolute;
}
#main #first{
    height: 200px ;
    top: 45%;
    left: 72%;
}
#main #second{
    height: 322px;
    top: 49%;
    left: 58%;
}
#main #third{
    height: 200px;
    top: 60%;
    left:50%;
}